
<div class="container-fluid">
  <div class="row" style="background: linear-gradient(133.87deg,#dc3545 0%,#1d4fa2 50%,#c5198c 100%)">
    <div class="col-2 ">
      <a href="" class="text-white"><h4>श्री क्षत्रिय युवक संघ </h4></a>
    </div>
    <div class="col-10">
     <div class="row">
      <div class="col-5 offset-1">
        <div class="row">
          <div class="col-3">
            <a href="" class="text-white">Dashboard</a>
          </div>
          <div class="col-3">
            <a routerLink="subscribers" class="text-white">Subscribers</a>
          </div>
          <div class="col-3">
            <a href="" class="text-white">Manage Admin</a>
          </div>
          <div class="col-3">
            <a href="" class="text-white">Subscribe/Renew</a>
          </div>
        </div>
      </div>
      <div class="col-5">
       <div class="row">
        <div class="col-3">
          <a href="" class="text-white">Manage Address</a>
        </div>
        <div class="col-3">
          <a routerLink="plans" class="text-white">Plans</a>
        </div>
        <div class="col-3">
          <a routerLink="books" class="text-white">Books</a>
        </div>
        <div class="col-3">
          <a href="" class="text-white">Camp Management</a>
        </div>
       </div>
      </div>
      <div class="col-1">
        <span _ngcontent-qkx-c15="" class="user-img"><img _ngcontent-qkx-c15="" width="31" alt="Tan Singh" class="rounded-circle" src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1688275719413Screenshot 2023-06-20 100242.png"></span>
      </div>
     </div>
    </div>
  </div>
  <!-- books -->
  <router-outlet></router-outlet>
</div>
